node_modules/**/*
.expo/*
.gradle/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/app/build/
.gradle
/build/
*.keystore
# macOS
.DS_Store
.*
.*
!/.gitignore
local.properties
gradle.properties
.gradle/
**/.gradle/
android/.gradle
android/**/.gradle
android/.gradle/*
android/**/.gradle/*
